<div class="filter-container">
  <h3>
    Filter by Role
  </h3>
  <div class="role">
    <mat-chip-list cdkDropList>
      <mat-chip cdkDrag (click)="filter('')">All</mat-chip>
      <mat-chip cdkDrag *ngFor="let value of filterRolers" (click)="filter(value)"> {{value ?? 'Unknown'}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <h3>
    Filter by mass Kg
  </h3>
  <div class="mass-kg">
    <mat-chip-list cdkDropList>
      <mat-chip cdkDrag *ngFor="let value of filterMassKg" (click)="filter(value)"> {{value ?? 'Unknown'}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

<div class="table-container">
  <table mat-table [dataSource]="ships" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
    </ng-container>
    <ng-container matColumnDef="mass_kg">
      <th mat-header-cell *matHeaderCellDef> Mass kg </th>
      <td mat-cell *matCellDef="let row"> {{row.mass_kg ?? 'Unknown'}} <span *ngIf="row.mass_kg"> kg</span></td>
    </ng-container>
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Roles </th>
      <td mat-cell *matCellDef="let row"> {{row.roles ?? 'Unknown'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="table-container">
  <table mat-table [dataSource]="launches" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="capsules">
      <th mat-header-cell *matHeaderCellDef> capsules </th>
      <td mat-cell *matCellDef="let row"> {{row.capsules.name}}</td>
    </ng-container>
    <ng-container matColumnDef="payloads">
      <th mat-header-cell *matHeaderCellDef> payloads </th>
      <td mat-cell *matCellDef="let row"> <span *ngFor="let item of row.payloads"> {{ item.name }}, </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsLaunches"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsLaunches;"></tr>
  </table>
</div>
