

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 100px;
}

table {
  width: 100%;
}



.filter-container {
  width: 800px;
  padding: 40px 0px;
  .role {
    display: flex;

    .item {
      text-align: center;
      flex: 1;
      color: blue;
      cursor: pointer;
    }
  }

  .mass-kg {
    display: flex;
  }
}
